/bin
/data
/Detector/build/detect2003/Debug
/Detector/build/detect2003/Release
/Detector/build/watermark2003/Debug
/Detector/build/watermark2003/Release
/Registrator/Bin
/Registrator/Registrator/bin
/Registrator/Registrator/obj